<!-- This is the html file for the recipe site -->
<html>
 <head>
    <title>Hungry College Recipes</title>

    <link rel="stylesheet" href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js"></script>
    <script src="./ingredientTemplate.js"></script>
    <script src="./instructionTemplate.js"></script>
    <script src="./imageTemplate.js"></script>
    <script src="./recipeTemplate.js"></script>
    <script src="./recipe.js" charset="utf-8" defer></script>
 </head>
  <body>

    <header>

      <div class="header-image-container">
        <!-- <img src= alt="Header Image"> -->
      </div>

      <h1 class="site-title"><a href="#">Hungry College Recipes</a></h1>

    </header>

    {{{body}}}

  </body>
 </html>
